⁸

body {
background: #1a001a;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

input {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 3em 2em;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 0 0 3em 2em #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px #1a001a;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .25s ease-in-out;
}

input:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
}

#buttn{
  max-width: 60%;
  }


.span-wrapper {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 }

p{
  color: white;
  }
